<html>
    <head>
        <title>El Blog de Rosa</title>
    </head>
    <body>
      <h1>El Blog de Rosa</h1>
        <div>
          <h2>Un ejemplo práctico de una página web</h2>
        <p><font face="Comic Sans MS,arial,verdana">En esta página vamos a ir utilizando todas las etiquetas que el tutorial me está mostrando. No son <em>tonterías</em>, sino cosas serias</font></p>
        <p>Vamos <b>mejorando</b>, no?</p>
      </div>
      <div>
        <h2>Comentarios</h2>
        <p>Esta web fue construida en la sesión promovida por: <a href="https://djangogirls.org">DjangoGirls</a></p>
        <p> <font color="rgb(100%,0%,0%)">Publicada: 05/10/2019</font></p>
      </div>
    </body>
</html>
